<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl project   -->
<mapper namespace="OMAS.OfficeTableReservationSystem.dao.UserDao">

        <!-- Login -->
        <select id="findByUsername" resultType="OMAS.OfficeTableReservationSystem.model.User">
            SELECT emp_id,
                username,
                password
            FROM tbl_user
            WHERE username = #{username}
        </select>

        <!-- Add Data -->
        <insert id="addPersonalInfo" parameterType="OMAS.OfficeTableReservationSystem.model.PersonalInfoInput">
                INSERT INTO tbl_personal_info(
                emp_id, 
                fname, 
                lname, 
                mname, 
                email, 
                reg_id
                )
                VALUES (
                #{emp_id}, 
                #{fname}, 
                #{lname}, 
                #{mname}, 
                #{email}, 
                1
                );
        </insert>

        <insert id="insertUser" parameterType="OMAS.OfficeTableReservationSystem.model.UserInput">
        INSERT INTO tbl_user (
            emp_id, 
            username, 
            password, 
            position_id, 
            dept_id, 
            section_id, 
                                                            <!-- role_id, -->
            status_code, 
            img_src, 
            reg_id
        )
        VALUES (
            #{emp_id}, 
            #{username}, 
            #{password}, 
            #{position_id}, 
            #{dept_id}, 
            #{section_id},
                                                            <!-- #{role_id},  -->
            #{status_code}, 
            #{img_src}, 
            1
        );
        </insert>


</mapper>