<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl project   -->
<mapper namespace="OMAS.OfficeTableReservationSystem.dao.UserDao">

        <!-- Login -->
        <select id="findByUsername" resultType="OMAS.OfficeTableReservationSystem.model.User">
            SELECT emp_id,
                username,
                password
            FROM tbl_user
            WHERE username = #{username}
        </select>

        <!-- Add Data -->
        <insert id="addPersonalInfo" parameterType="OMAS.OfficeTableReservationSystem.model.PersonalInfoInput">
                INSERT INTO tbl_personal_info(
                emp_id, 
                fname, 
                lname, 
                mname, 
                email, 
                reg_id
                )
                VALUES (
                #{emp_id}, 
                #{fname}, 
                #{lname}, 
                #{mname}, 
                #{email}, 
                1
                );
        </insert>

        <insert id="insertUser" parameterType="OMAS.OfficeTableReservationSystem.model.UserInput">
        INSERT INTO tbl_user (
            emp_id, 
            username, 
            password, 
            position_id, 
            dept_id, 
            section_id, 
                                                            <!-- role_id, -->
            status_code, 
            img_src, 
            reg_id
        )
        VALUES (
            #{emp_id}, 
            #{username}, 
            #{password}, 
            #{position_id}, 
            #{dept_id}, 
            #{section_id},
                                                            <!-- #{role_id},  -->
            #{status_code}, 
            #{img_src}, 
            1
        );
        </insert>


    <!-- findUserByUsername --> 

    <select id="findUserByUsername" resultType="OMAS.OfficeTableReservationSystem.model.UserOutput">
        SELECT users.emp_id,
               users.username,
               users.status_code,
               users.img_src,
               users.password,
               info_master.fname,
               info_master.mname,
               info_master.lname,
               position_master.position_name,
               position_master.position_id,
               info_master.email,
               section_master.section_id,
               section_master.section_name,
               department_master.dept_id,
               department_master.dept_name,
               role_master.title,
               users.del_flag
          FROM tbl_personal_info AS info_master
    INNER JOIN tbl_user AS users ON users.emp_id = info_master.emp_id
    INNER JOIN tbl_role_mst AS role_master ON users.role_id = role_master.role_id
    INNER JOIN tbl_position_mst AS position_master ON users.position_id = position_master.position_id
    INNER JOIN tbl_section_mst AS section_master ON users.section_id = section_master.section_id
    INNER JOIN tbl_department_mst AS department_master ON users.dept_id = department_master.dept_id
    INNER JOIN tbl_status_mst AS user_status ON users.status_code = user_status.status_code
         WHERE users.del_flag = 0 AND users.username = #{username};
    </select>
</mapper>