<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper for tbl project   -->
<mapper namespace="OMAS.OfficeTableReservationSystem.dao.UserDao">

        <!-- Login -->
        <select id="findByUsername" resultType="OMAS.OfficeTableReservationSystem.model.User">
            SELECT emp_id,
                username,
                password
            FROM tbl_user
            WHERE username COLLATE utf8mb4_bin = #{username}

                <!-- SELECT user_id,
                first_name,
                last_name,
                username,
                password,
                role
                FROM tbl_user_mst
                WHERE username = #{username} -->
        </select>

        
</mapper>